<div class="d-flex align-items-center justify-content-center">
    <form  [formGroup]="paymentForm" class="d-flex" (ngSubmit)="get_signature(paymentForm, $event)"  method="post" action="https://test.cashfree.com/billpay/checkout/post/submit">
        <input  placeholder="Order Amount" type="hidden"  name="appId" formControlName="appId">
        <input  placeholder="Order Amount" type="hidden"  name="orderId" formControlName="orderId">
        <mat-form-field class="example-full-width" >
            <mat-label>orderAmount</mat-label>
            <input matInput placeholder="Order Amount" name="orderAmount"  formControlName="orderAmount">
          </mat-form-field>
          <input  placeholder="Order Amount" type="hidden"  name="orderCurrency" formControlName="orderCurrency">

          <mat-form-field class="example-full-width" >
            <mat-label>customerName</mat-label>
            <input matInput placeholder="Order Amount" name="customerName"  formControlName="customerName">
          </mat-form-field>
          <mat-form-field class="example-full-width" >
            <mat-label>customerPhone</mat-label>
            <input matInput placeholder="Order Amount" name="customerPhone"  formControlName="customerPhone">
          </mat-form-field>
          <mat-form-field class="example-full-width" >
            <mat-label>customerEmail</mat-label>
            <input matInput placeholder="Order Amount"  name="customerEmail" formControlName="customerEmail">
          </mat-form-field>

        
            
            <input  placeholder="Order Amount" type="hidden"  name="returnUrl" formControlName="returnUrl">
            <input  placeholder="Order Amount" type="hidden"  name="notifyUrl" formControlName="notifyUrl">
            <input  placeholder="Order Amount" type="hidden"  name="signature" formControlName="signature">



          <button mat-flat-button  color="primary" id="payBtn">Pay</button>

    </form>
</div>