<div class="container">

    <mat-card class="user_div">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Signin">
                <div class="login_div">
                    <form [formGroup]="signinForm" (ngSubmit)="Onsignin()">
                        <mat-form-field appearance="outline" class="input-field">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="input-field">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput placeholder="Password" formControlName="password">
                        </mat-form-field>

                        <div class="text-center">
                            <button mat-raised-button color="primary">Signin</button>
                        </div>

                    </form>
                    <!-- continue with Googlwe -->
                    <div class="social_div">
                        <div class="google-btn"  (click)="GoogleSignin()">
                            <div class="google-icon-wrapper">
                                <img class="google-icon"
                                    src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                            </div>
                            <p class="btn-text"><b>Sign in with google</b></p>
                        </div>
                        <div class="google-btn"  (click)="FacebookSignin()">
                            <!-- <div class="google-icon-wrapper">
                                <img class="google-icon"
                                    src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                            </div> -->
                            <p class="btn-text"><b>Sign in with facebook</b></p>
                        </div>
                    </div>

                </div>
            </mat-tab>
            <mat-tab label="Signup">
                <form [formGroup]="signupForm" (ngSubmit)="Onsignup()">
                    <mat-form-field appearance="outline" class="input-field">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="input-field">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Password" formControlName="password">
                    </mat-form-field>

                    <div class="text-center">
                        <button mat-raised-button color="primary">SignUp</button>
                    </div>

                </form>
                <!-- continue with Googlwe -->
                <div class="social_div">
                    <div class="google-btn pointer" (click)="GoogleSignin()">
                        <div class="google-icon-wrapper" >
                            <img class="google-icon"
                                src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                        </div>
                        <p class="btn-text"><b>Sign up with google</b></p>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

    </mat-card>




</div>
