<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">KarThik Ch's Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/blog/list">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blog/create">Create Blog</a>
          </li>
         
        </ul>
        <div class="d-flex">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user/profile">Profile</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/user/signin">SignIn</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="api.SignOut()">SignOut</a>
                </li>
               
              </ul>
        </div>
      </div>
    </div>
  </nav>

  <ngb-toast
  *ngFor="let toast of toastService.toasts"
  [class]="toast.classname"
  [autohide]="true"
  [delay]="toast.delay || 5000"
  (hidden)="toastService.remove(toast)"  class="toast_pos"
>
  <ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text"  >
    <ng-template [ngTemplateOutlet]="toast.textOrTpl" ></ng-template>
  </ng-template>

  <ng-template #text >{{ toast.textOrTpl }}</ng-template>
</ngb-toast>
<!-- host: {'[class.ngb-toasts]': 'true'} -->