<div class="container">
    <div class="row   justify-content-center">
        <mat-card class="card">
            <form [formGroup]="CreateForm" (ngSubmit)="createPost()">
                <mat-card-title class="text-center mb-4">Create New Post</mat-card-title>


                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Short Description</mat-label>
                    <input matInput formControlName="short_description">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput  rows="8" formControlName="description"></textarea>
                  </mat-form-field>
    
                  <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label> Keywords/Tags</mat-label>
                    <mat-chip-list #chipList aria-label=" Keywords">
                      <mat-chip *ngFor="let key of keywords" [selectable]="selectable"
                               [removable]="removable" (removed)="remove(key)">
                        {{key.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input placeholder="New key..."
                             [matChipInputFor]="chipList"
                             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                             [matChipInputAddOnBlur]="addOnBlur"
                             (matChipInputTokenEnd)="add($event)"
                             formControlName="keywords">
                    </mat-chip-list>
                  </mat-form-field>
                  
                  <div class="text-center ">
                    <button mat-raised-button color="primary" [disabled]="CreateForm.invalid">Create & Post</button>
    
                  </div>
            </form>
        </mat-card>


    </div>
</div>