.footer{
    position: absolute;
    bottom: 0;
    background-color: rgb(197, 54, 114);
    height: 50px;
    width:100%
}
.copyright{

    font-size: 14px;
    display:grid;
    
    place-items: center;
    margin:1em;
}